@model HomeVM

<div class="row justify-content-center align-items-center">
    <div class="col-lg-4 col-md-6">
        <img src="~/images/house/home-page-image.jpg" class="w-100" />
    </div>
    <div class="col-lg-6 col-md-6 p-4">
        <h2 class="text-center text-primary ">Here you can find the most amazing houses to rent for your vaction</h2>
        <h4 class="text-center text-secondary-emphasis p-4">
            Check our offer below
        </h4>
    </div>
</div>

<div class="row justify-content-center align-items-center p-3">
    <div class="form-floating py-2 col-6 col-xl-3 col-md-5">
        <input asp-for="@Model.CheckInDate" type="date" class="form-control border shadow" />
        <label asp-for="@Model.CheckInDate" class="m-2"></label>
        <span asp-validation-for="@Model.CheckInDate" class="text-danger"></span>
    </div>
    <div class="form-floating py-2 col-6 col-xl-3 col-md-5">
        <input asp-for="@Model.NightsQty" class="form-control border shadow" />
        <label asp-for="@Model.NightsQty" class="m-2"></label>
        <span asp-validation-for="@Model.NightsQty" class="text-danger"></span>
    </div>
</div>
<div class="row justify-content-center">
    @foreach (var house in Model.HouseList)
    {
        <div class="col-lg-4">
            <div class="card bg-light my-2">
                <div class="row p-3">
                    <div class="col-6">
                        <h3 class="text-primary">@house.Name</h3>
                    </div>
                    <div class="col-6">
                        <a asp-controller="House" asp-action="Book" class="btn btn-primary w-100">
                            View Details
                        </a>
                    </div>
                </div>
                <div class="row px-2">
                    <img src="@house.ImageUrl" class="w-100" />
                </div>
                <div class="row p-3">
                    <div class="col-6">
                        <h4 class="text-primary">Price: @house.Price.ToString("c")</h4>
                        <p>Max. occupancy: @house.Occupancy</p>
                        <p>Area: @house.Area m<sup>2</sup></p>
                    </div>
                    <div class="col-6 align-content-end">
                        <a asp-controller="House" asp-action="Book" class="btn btn-primary w-100">
                            Book
                        </a>
                    </div>
                </div>
            </div>
        </div>

    }

</div>
