@model HouseVM

<div class="row justify-content-md-center">
    <div class="col-lg-9">
        <div class="card bg-light p-2">
            <h2 class="text-center p-3">Delete house</h2>
            <div class="p-2">
                <form method="post" class="row" enctype="multipart/form-data">
                    <input hidden asp-for="@Model.House.Id" />
                    <div class="row p3">
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="@Model.House.Name" disabled class="form-control border shadow" />
                            <label asp-for="@Model.House.Name" class="m-2"></label>
                        </div>
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="@Model.House.Location" disabled class="form-control border shadow" />
                            <label asp-for="@Model.House.Location" class="m-2"></label>
                        </div>
                    </div>
                    <div class="row p3">
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="@Model.House.Area" disabled class="form-control border shadow" />
                            <label asp-for="@Model.House.Area" class="m-2"></label>
                        </div>
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="@Model.House.RoomsQuantity" disabled class="form-control border shadow" />
                            <label asp-for="@Model.House.RoomsQuantity" class="m-2"></label>
                        </div>
                    </div>
                    <div class="row p3">
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="@Model.House.SingleBedQuantity" disabled class="form-control border shadow" />
                            <label asp-for="@Model.House.SingleBedQuantity" class="m-2"></label>
                        </div>
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="@Model.House.DoubleBedQuantity" disabled class="form-control border shadow" />
                            <label asp-for="@Model.House.DoubleBedQuantity" class="m-2"></label>
                        </div>
                    </div>

                    <div class="row p3">
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="@Model.House.Price" disabled class="form-control border shadow" />
                            <label asp-for="@Model.House.Price" class="m-2"></label>
                        </div>
                        <div class="form-floating py-2 col-12 col-md-6">
                            <input asp-for="@Model.House.DiscountPrice" disabled class="form-control border shadow" />
                            <label asp-for="@Model.House.DiscountPrice" class="m-2"></label>
                        </div>
                    </div>
                    <div class="row justify-content-md-center p3">
                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.House.Description" disabled class="form-control border shadow" />
                            <label asp-for="@Model.House.Description" class="m-2"></label>
                        </div>
                    </div>


                    <div class="row p3">
                        <div class="col-12 col-md-6 py-2">
                            <div class="form-floating py-2">
                                <input asp-for="@Model.House.ImageUrl" hidden class="form-control border shadow" />
                                <input asp-for="@Model.House.Image" disabled class="form-control border shadow" />
                                <label asp-for="@Model.House.ImageUrl" class="my-1"></label>
                            </div>
                            <div class="form-floating py-2">
                                <textarea asp-for="@Model.House.Description" disabled class="form-control border shadow custom-textarea" style="height: 150px;"></textarea>
                                <label asp-for="@Model.House.Description" class="m-1"></label>
                            </div>
                        </div>
                        <div class="form-floating py-2 col-12 col-md-6">
                            <div class="form-check px-4 pb-3">
                                <input disabled class="form-check-input" type="checkbox" value="true" name="IsDiscountActivated" @(Model.House.IsDiscountActivated ? "checked" : "")>
                                <label class="form-check-label" for="flexCheckDefault">
                                    Do you want to activate discount?
                                </label>
                            </div>
                            @if (Model.AmenityList.Count != 0)
                            {

                                <p>   Choose amenities from the list: </p>
                                @foreach (var amenity in Model.AmenityList)
                                {
                                    if (Model.HouseAmenitiesIdList.Contains(amenity.Id))
                                    {
                                        <div class="form-check py-1">
                                            <input disabled class="form-check-input" type="checkbox" value="@amenity.Id" name="amenityId" checked="">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                @amenity.Name
                                            </label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-check py-1">
                                            <input disabled class="form-check-input" type="checkbox" value="@amenity.Id" name="amenityId">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                @amenity.Name
                                            </label>
                                        </div>
                                    }
                                }

                            }
                        </div>
                    </div>
                    <div class="row justify-content-md-center pt-2">
                        <div class="col-6 col-md-6">
                            <button type="submit" class="btn btn-danger w-100">
                                <i class="bi bi-trash"></i>  Delete
                            </button>
                        </div>
                        <div class="col-6 col-md-6">
                            <a asp-controller="House" asp-action="Index" class="btn btn-secondary w-100">
                                <i class="bi bi-x-circle"></i>  Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(@Model.House.ImageUrl))
    {
        <div class="col-lg-3 my-2">
            <img src="@Model.House.ImageUrl" width="100%" />
        </div>
    }
</div>

