@model HomeVM

<div id="HouseGrid">
    <div class="row justify-content-center p-3">
        @foreach (var houseVM in Model.HouseVMList)
        {
            <div class="col-lg-4">
                <div class="card bg-light my-2 ">
                    <div class="row align">
                        <h3 class="text-primary text-center py-4 px-1">@houseVM.House.Name</h3>
                    </div>
                    <div class="container px-3 d-flex justify-content-center align-items-center" style="">

                        <img src="@houseVM.House.ImageUrl" class="img-fluid" style="max-width: 100%; max-height: 400px;" />

                    </div>
                    <div class="row p-4">
                        <div class="col-12">
                            @if (houseVM.House.IsDiscountActivated == true)
                                {
                                    <h4 class="text-primary">
                                    Price: <s>@houseVM.House.Price.ToString("c")</s>
                                    @houseVM.House.DiscountPrice.ToString("c");
                                    </h4>
                                }
                                else
                                {
                                    <h4 class="text-primary">
                                    Price: @houseVM.House.Price.ToString("c")
                                    </h4>
                                }
                            <p>Max. occupancy: @houseVM.House.Occupancy</p>
                            <p>House area: @houseVM.House.Area m<sup>2</sup></p>
                        </div>
                        <div class="col-12 col-xxl-6 align-content-end">

                            @if (Model.CheckInDate >= DateOnly.FromDateTime(DateTime.Now))
                            {
                                @if (houseVM.House.IsBooked == false)
                                {
                                    <button type="button" onclick="ProcessBooking(@houseVM.House.Id)" class="btn btn-primary w-100">Book</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary disabled w-100">
                                        Not available
                                    </button>
                                }
                            }
                        </div>
                        <div class="col-12 col-xl-6">
                            <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#detailView-@(houseVM.House.Id)">
                                View Details
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade modal-xl" id="detailView-@(@houseVM.House.Id)" tabindex="-1" role="dialog" aria-labelledby="viewDetailLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-center p-2" id="viewDetailLabel"> @houseVM.House.Name</h4>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <partial name="_HouseDetails" model="@Model.HouseVMList.FirstOrDefault(u=>u.House.Id==houseVM.House.Id)" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="ProcessBooking(@houseVM.House.Id)" class="btn btn-primary w-25">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>