@model HouseVM

<div class="row">
    <div class="col-5">
        <img src="@Model.House.ImageUrl" class="w-100" />
    </div>
    <div class="col-7">
        <p>
            @Model.House.Description
        </p>
        @if (Model.House.houseAmenities != null && Model.House.houseAmenities.Count() > 0)
        {
            <p>
                Amenities:
            </p>
            <ul>
                @foreach (var houseAmenity in Model.House.houseAmenities)
                {
                    <li>
                        @houseAmenity.amenity.Name
                    </li>
                }
            </ul>
        }
        <p>
            Max. occupancy: @Model.House.Occupancy <br />
            Single beds quantity: @Model.House.SingleBedQuantity<br />
            Double beds quantity: @Model.House.DoubleBedQuantity<br />
            House area: @Model.House.Area <sup>2</sup> <br />
            Location: @Model.House.Location

        </p>
        @if (Model.House.IsDiscountActivated == true)
        {
            <h4 class="text-primary">
                Price: <s>@Model.House.Price.ToString("c")</s>
                @Model.House.DiscountPrice.ToString("c");
            </h4>
        }
        else
        {
            <h4 class="text-primary">
                Price: @Model.House.Price.ToString("c")
            </h4>
        }
    </div>
</div>